
{% extends 'board/base.html' %}
{% load static %}
{% block content %}
<div class="wrap">
    <div>
        <p>{{ post.author.first_name }}</p>
        <p>{{ post.created_date }}</p>
    </div>
    <h1 class="a_2"><a href="#">{{ post.title }}</a></h1>
    {% if post.category == None %}
        <p>게시판: {{ post.category }}</p>
    {% else %}
        <p>게시판: <a href="/board/{{ post.category }}/">{{ post.category }}</a></p>
    {% endif %}

    <p class="text">{{ post.text|linebreaksbr }}</p>

    <p>{% for image in images %} <!-- 이미지 첨부하는 방법 -->
        <img src="{% get_media_prefix %}{{ image }}" alt="{{ image.filename }}">
    {% endfor %}</p>

    <p>{% for file in files %} <!-- 파일 첨부하는 방법 -->
        <a href="{% get_media_prefix %}{{ file }}">{{ file.filename }}</a>
    {% endfor %}</p>

</div>
{% endblock %}
