<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나의 블로그</title>
</head>
<body>
    <div>
        <h1><a href="/">나의 블로그</a></h1>
    </div>
    {% if user.is_authenticated %}
        <p>안녕하세요. '{{user.first_name}}'님</p>
        <a href="{% url 'logout' %}">로그아웃</a>
        <a href="{% url 'blog:post_draft_list' %}">초안목록보기</a>
        <nav><a href="{% url 'blog:post_new' %}">새글쓰기</a></nav>
    {% else %}
        <a href="{% url 'login' %}">로그인</a>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>
</html>