{% extends 'blog/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<nav><a href="{% url 'blog:post_edit' pk=post.pk %}">수정하기</a></nav>
<a href="{% url 'blog:post_remove' pk=post.pk %}">삭제하기</a>
{% endif %}
<div>
    {% if post.published_date %}
        <div>
            {{ post.published_date }}
        </div>
    {% else %}
        <a href="{% url 'blog:post_publish' pk=post.pk %}">배포하기</a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
</div>
<hr>
{% for comment in post.comments.all %}
    <div>
        <p>{{  comment.created_date  }}</p>
        <p>{{  comment.author  }}</p>
        <p>{{  comment.text|linebreaks  }}</p>
    </div>
{% empty %}
    <p>NO comments here yet. (첫번째 댓글의 주인공은 누구?)</p>
{% endfor %}
{% endblock %}
