{% extends 'blog/base.html' %}
{% block content %}
    {{ block.super }}
    {% for post in posts %}
        <div class="mid2">
                
            <h1>
                <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a>
                <p class="comm">&nbsp;Comments:{{ post.approved_comments.count }}</p>
                
                &nbsp;{% if user.is_authenticated %}
                <p class="del"><a href="{% url 'blog:post_remove' pk=post.pk %}">[삭제]</a></p>
                {% endif %}

            </h1>
            <p class="text">{{ post.text|linebreaksbr }}</p>
            <p class="pub">published: {{ post.published_date }}</p>
        </div>

    {% endfor %}
{% endblock %}