{% extends 'blog/base.html' %}
{% block content %}
    {{ block.super }}
    {% for post in posts %}
        <div class="mid3 wrap">
            <h1 class="a_2"><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p class="del2"><a href="{% url 'blog:post_remove' pk=post.pk %}">[삭제]</a></p>
            <p class="text">{{ post.text|linebreaksbr }}</p>
            <p class="creat">created: {{ post.created_date|date:'y-m-d' }}</p>
        </div>
    {% endfor %}
{% endblock %}