{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}시작{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

{% block blog %}
{% endblock %}

{% block board %}
{% endblock %}

{% block home %}
{% endblock %}

<h1>로그인 페이지 작업하기.</h1>
<a href="/">Home으로</a>
{% if user.is_authenticated %}
    {{ user.username }} 님 안녕하세요.
<a href="{% url 'password_change' %}">비밀번호 변경</a>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">회원가입</a>
{% endif %}

{% block content %}
{% endblock %}
</body>
</html>