{% extends 'base.html' %}

{% block home %}
<div class="bg clearfix">
    <div class="wrap">
        <h1 class="aa"><a href="{% url 'board:post_list' %}">병학이의 게시anf</a></h1>
    </div>
</div>

<ol><a href="blog/"> blog</a>
{% for posts in post %}
    <li><a href="{% url 'blog:post_detail' pk=posts.pk %}">{{ posts }}</a> {{ posts.created_date }}</li>
{% endfor %}
</ol>


<ol><a href="blog/"> board</a>
{% for boards in board %}
    <li><a href="{% url 'board:post_detail' pk=boards.pk %}">제목: {{ boards }}</a> {{ boards.created_date }}</li>
{% endfor %}
</ol>

{% endblock %}
